body{
	width: 100%;
	margin: 0px;
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

.center{
	top: center;
	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
    width: 324px;
    background-color: #ddd;
	border-style: 5px;
}



input {
	padding: 5px 10px 5px 10px;
	margin: 2px 0 2px 0;
	font-family: Verdana, sans-serif;
}

textarea {
	width: 300px;
	height: 80px;
	padding: 10px;
	font-family: Verdana, sans-serif;
}

.text-type{
	width: 200px;
}

#result{
	height: 300px;
	font-size: 12px;
	font-style: italic;
}